// Place all the styles related to the makers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
	margin: 10px 5px;
	border-bottom: 1px solid lightgray;
	padding: 5px;
}

table {
  width: 70%;
  margin: 0px auto;
  float: none;
}

.btn {
	margin-top: 5px;
}

td {
	padding: 5px;
}